<h1>Firebase</h1>

<header class="header">
    <div class="container">
        <h2 class="header-title">Filmoteka</h2>
        <div class="auth-container">
            <p class="auth-greeting">Hi, <span class="auth-username"></span></p>
            <div js-auth class="visually-hidden"><button class="auth-signIn" js-signin>Sign in</button><span> or, </span> <button class="auth-signUp" js-signup>Register</button></div>
            <button type="button" class="auth-signOut visually-hidden" js-signout>SignOut</button>

        </div>
    </div>
</header>

<div class="btns">
    <button type="button" class="btn get-userProfile" disabled>GET currentUser profile <br><span>see
            DevTools/Console</span></button>
    <div>        
        <button type="button" class="btn signOut-extra visually-hidden">Sign out</button>
        <button type="button" class="btn get">GET data (btn Library)</button>
        <button type="button" class="btn post visually-hidden">POST data</button>
        <button type="button" class="btn del">Clear database</button>
    </div>
  <div>
    <button type="button" class="btn btn-watched__list" js_add="watched">Add to watched</button>
    <button type="button" class="btn btn-queue__list" js_add="queue">Add to queue</button>
    <button type="button" class="btn btn-watched" js_state="watched">WATCHED</button>
    <button type="button" class="btn btn-queue" js_state="queue">QUEUE</button>
    <button type="button" class="btn btn__delete-w" js_del="watched">Delete from WATCHED</button>
    <button type="button" class="btn btn__delete-q" js_del="queue">Delete from QUEUE</button>
  </div>
</div>
<div class="watched">WATCHED list:
    <div js-watched></div>
</div>
<div class="queue">QUEUE list:
    <div js-queue></div>
</div>
<!-- <div class="render">Screen rendering:
    <div js-render></div>
</div> -->


